jobs:
  include:
    - stage: docker_build
      script:
        - echo "$DOCKER_PW" | docker login -u "$DOCKER_USER" --password-stdin
        - docker build -t $DOCKER_USER/terra-packer:0.9.1 .
        - docker push $DOCKER_USER/terra-packer:0.9.1
